@charset "utf-8";
/* CSS Document */
  body {
    color: white;
}
#menu > li > a {
  color:white;
}
#menu > li > a:active, #menu > li > a:visited {
  color:white;
}
#menu > li > a:hover {
  color:white;
  text-decoration: underline #FFF;
}
/* Gradients */
.grad1, .grSctch {/* Lilac */
  background: radial-gradient(ellipse 90% 100% at 0% 120%, rgba(255,0,0,.8), rgba(255,0,0,0)),
          radial-gradient(ellipse 110% 90% at 50% 10%, rgba(0,0,255,.8), rgba(0,0,255,0)), 
          radial-gradient(ellipse at 80% 60%, rgba(0,255,0,.8), rgba(0,255,0,0)) ;
  background-color: #880;
}
/*.gradStat, .gradPnch, .gradJob, .gradDisp*/
.gradStat, .gradPnch, .gradJob, .gradDisp, .gl1Purple {
      background: linear-gradient(90deg, rgba(100,0,255,.4), rgba(100, 0, 255,0) 100%);
}

.brd1, .brdOrange1 {
   border: 2px solid #f80;
}

/* Shadows */
.shd1 {/*shW10*/
   box-shadow: 10px 10px 10px rgba(255,255,255,.2);
}