@charset "utf-8";
/* CSS Document */
:root {
  --text-color: #000;
  --accent: #ff0;
  --shadow-color: rgba(0, 0, 0, .2);
  --btnText: #323232;
}
body {
  color: var(--text-color);
  font-family: source-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
}
header {
/*  background-color: rgba(0, 0, 0, .4);*/
}


#menu > li > a {
  color: var(--text-color);
}
#menu > li > a:active, #menu > li > a:visited {
  color: var(--text-color);
}
#menu > li > a:hover {
  color: var(--text-color);
  text-decoration: underline solid var(--accent);
}
.statusDiv {
}
/* PUNCH BUTTON section */
.welToLV {
  padding: 1.4em 0;
}
button.punchButton {
  color: #222;  
  box-shadow: 3px 3px 10px rgba(0,0,0,.35), -2px -2px 4px rgba(0,0,0,.05);
}
#punchIn {
  box-shadow: 3px 3px 10px rgba(0,0,0,.35), -1px -1px 4px rgba(0,0,0,.05);
  transition: all 400ms ease;
}
#punchIn[disabled], #punchChange[disabled], #punchOut[disabled] {
  border-color: #aaa;
  background: #ddd;
  color:#666;
  text-shadow: none;
  box-shadow: 3px 3px 10px rgba(0,0,0,.15), -2px -2px 4px rgba(0,0,0,.03);
  transition: all 400ms ease;
}
#punchChange {
  transition: all 400ms ease;
}
#punchOut {
  transition: all 400ms ease;
}
.pressedChange {
  animation: buttonPress .2s linear 1; 
}
@keyframes buttonPress {
  0% {
    box-shadow: 3px 3px 10px rgba(0,0,0,.15), -2px -2px 4px rgba(0,0,0,.03);
  }
    45% {
    box-shadow: 3px 3px 10px rgba(0,0,0,0), -2px -2px 4px rgba(0,0,0,0);
  }
    55% {
    box-shadow: 3px 3px 10px rgba(0,0,0,0), -2px -2px 4px rgba(0,0,0,0);
  }
    100% {
    box-shadow: 3px 3px 10px rgba(0,0,0,.15), -2px -2px 4px rgba(0,0,0,.03);
  }
}
/* Job Assignment section*/

/*
punch-view.html
*/
ul.punchPod {
  border: 1px solid var(--text-color);
  color: var(--text-color);
}
.col7, .col8, .col9 {
  color: var(--text-color);
}
.col9 {
  border-radius: 0 0 10px 10px;
}
/*#displayContainer {
  margin-top: .5rem;
}


.dispBtnCont {
  padding:0 6px 6px;
}
.dispBtnCont:nth-child(2) {
  border-left: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}
.dispBtnCont > h2 {
  font-family: source-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1em;
  display: block;
  padding:6px 0;
  margin: 0;
  text-align: center;
}
ul.dataButtons {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.dataButtons > li {
  display: block;
  margin: 0;
}
ul.dataButtons > li > .dataButton {
  font-family: source-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4em;
  line-height: 2em;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  display: block;
  width: 100%;
  height: auto;
  padding:0;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  margin: 0;
}
ul.dataButtons > li:first-child {
  margin-bottom: 8px;
}
*/


/* Gradients */
/*
.grad1, .grs2Lilac {  Lilac 
  background:
    radial-gradient(ellipse 100% 120% at bottom left, transparent 84%, rgba(255, 200, 220, .6) 90%, rgba(255, 200, 220, .2) 90%, transparent), radial-gradient(ellipse 150% 100% at 100% 140%, transparent 84%, rgba(255, 200, 220, .6) 90%, rgba(255, 200, 220, .2) 90%, transparent), radial-gradient(ellipse at top left, rgba(225, 30, 130, .5), transparent), radial-gradient(ellipse at bottom right, rgba(130, 30, 255, .5), transparent);
  background-color: #fff;
}
*/
/*.gradStat, .gradPnch, .gradJob, .gradDisp*/
/*
.gradStat, .gl1Purple {
  background: linear-gradient(90deg, rgba(100, 0, 255, .4), rgba(100, 0, 255, 0) 100%);
}
.gradPnch, .gradJob, .gradDisp {
  background-color: rgba(255, 255, 0, .3);
}
*/
/* Borders */
.brd1, .brdWhite1 {
  border: 1px solid var(--text-color);
}
/* Shadows */
/*
.shd1 {
  box-shadow: 10px 10px 10px rgba(255, 255, 255, .2);
}*/