@charset "utf-8";
/* CSS Document */
  body {
    color: white;
}
#menu > li > a {
  color:white;
}
#menu > li > a:active, #menu > li > a:visited {
  color:white;
}
#menu > li > a:hover {
  color:white;
  text-decoration: underline #FFF;
}
/* Gradients */
.grad1, .grs2Lilac {/* Lilac */
  background: 
   radial-gradient(ellipse 100% 120% at bottom left, transparent 84%, rgba(255,200,220,.6) 90%, rgba(255,200,220,.2) 90%, transparent), 
   radial-gradient(ellipse 150% 100% at 100% 140%,   transparent 84%, rgba(255,200,220,.6) 90%, rgba(255,200,220,.2) 90%, transparent),
   radial-gradient(ellipse at top left,     rgba(225,30,130,.5), transparent), 
   radial-gradient(ellipse at bottom right, rgba(130,30,255,.5), transparent) ;
  background-color: #fff;
}
/*.gradStat, .gradPnch, .gradJob, .gradDisp*/
.gradStat, .gl1Purple {
      background: linear-gradient(90deg, rgba(100,0,255,.4), rgba(100, 0, 255,0) 100%);
}
.gradPnch, .gradJob, .gradDisp {
  background-color: rgba(255,255,0,.3);
}


/* Borders */
.brd1, .brdWhite1 {
   border: 1px solid #fff;
}
/* Shadows */
.shd1 {/*shW10*/
   box-shadow: 10px 10px 10px rgba(255,255,255,.2);
}