@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}
h1 {
  font-size: 1.4em;
  font-weight: bold;
}
h3 {
  font-size: 1.1em;
  font-weight: bold;
}
.button {
  height: 2em;
  width: 80px;
  margin: 6px 6px 12px;
}
.textInput {
  width: 200px;
  display: block;
  margin: 6px;
}
.statusList {
  list-style-type: square;
}
.tblHeader {
  font-weight: bold;
}
.msgContainer h2 {
  font-size: 1.2em;
}
.msgContainer {
  display: none;
}
@media (max-width: 600px) {
  * {
    box-sizing: border-box;
  }
  html {
    height: 100%;
  }
  body {
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 0 3em 0;
  }
  h1, h2, h3 {
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1.1em;
    color: white;
    padding-left: 16px;
  }
  ul {
    margin: 0;
    color: white;
    padding-bottom: 12px;
    padding-top: 6px;
  }
  /* Header */
  header {
    background-color: rgba(0, 0, 0, .4);
    margin: 0;
    padding: 8px;
  }
  header h1, header h2 {
    color: white;
    text-align: center;
  }
  header h1 {
    font-variant: small-caps;
    letter-spacing: .17em;
    line-height: 1em;
  }
  main {
    padding: 0;
  }
  footer {
    color: white;
    padding-left: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    text-align: center;
  }
  footer .cssBtn {
    display: inline-block;
  }
  .cssSwitch {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 94%;
    margin: 18px auto;
    align-content: center;
  }
  /* Status section */
  .statusDiv {
    width: 94%;
    margin: 14px auto 16px;
    padding: 7px 0 7px 36px;
    border-radius: 42px 42px 8px 42px;
  }
  h3.statusH {
    color: white;
    padding: 0;
    line-height: .9em;
  }
  .statusList {
    list-style-type: none;
    padding: 4px 0 0 0;
    margin: 0;
    line-height: 1.1em;
  }
  .statusList ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .statusList ul li {
    padding: 0 16px 0 0;
    display: inline-block;
  }
  /* Punch Section */
  .row.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 94%;
    margin: 18px auto;
    align-content: center;
  }
  .welToLV {
    border-top-left-radius: 4.2em 50%;
    border-top-right-radius: .42em 6%;
    border-bottom-right-radius: 4.2em 50%;
    border-bottom-left-radius: 4.2em 50%;
    padding: .88em 0;
  }
  .button {
    height: 4em;
    width: 4em;
    font-size: 1.5em;
    font-weight: bold;
    line-height: .9em;
    overflow: auto;
    padding: 0;
    margin: 0;
    border: 0;
  }
  #punchIn {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 5% 5%;
    border-bottom-left-radius: 50% 50%;
  }
  #punchChange {
    border-top-left-radius: 5% 5%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 5% 5%;
    border-bottom-left-radius: 50% 50%;
  }
  #punchOut {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 5% 5%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
  }
  span.btnFirstLn {
    font-size: .65em;
  }
  /* Job Assignment section */
  .row.txtIn {
    padding: 4px 16px;
    width: 100%;
  }
  .row.jobInputBlock {
    width: 94%;
    margin: 18px auto;
    padding: 12px;
    border-radius: 12px 12px 38px 38px;
  }
  .labelsInputs {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .labels {
    flex: 1 1 auto;
  }
  .txtIn {
    flex: 2 2 auto;
  }
  #client {
    border-radius: 0 5px 0 0;
  }
  label {
    display: block;
    width: 100%;
    text-align: right;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0 .5em 0 0;
    margin: 0 0 6px 0;
    line-height: 1.2em;
    border: 1px solid rgba(255, 255, 0, 0);
  }
  .textInput {
    display: block;
    font-size: 1.2em;
    width: 100%;
    padding: 0;
    margin: 0 0 6px 0;
    line-height: 1.2em;
    border: 1px solid rgba(255, 255, 0, 0);
  }
  #assign {
    border-radius: 4px 4px 1em 1em;
    height: 1.6em;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    line-height: .9em;
    padding: 0;
    margin: 0;
    border: 0;
  }
  /* Display Section */
  .row.dataDisplay {
    width: 94%;
    margin: 0 auto;
    padding: 12px;
    border-radius: 6px 38px 6px 38px;
  }
  .dataDisplay h3 {
    padding: 0;
    margin: 0 0 4px 0;
    line-height: .9em;
  }
  .dataBtnDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #display {
    border-radius: 4px 4px 4px 1em;
    height: 1.6em;
    width: 60%;
    font-size: 1.5em;
    font-weight: bold;
    line-height: .9em;
    padding: 0;
    margin: 0;
    border: 0;
  }
  #init {
    border-radius: 4px 1em 4px 4px;
    height: 1.6em;
    width: 20%;
    font-size: 1.5em;
    font-weight: bold;
    line-height: .9em;
    padding: 0;
    margin: 0;
    border: 0;
  }
  /* Message boxes */
  .msgContainer {
    color: white;
    width: 100%;
    padding: 2px 0 0 16px;
  }
  .msgContainer p {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: .8em;
    line-height: .8em;
  }
  .msgContainer h3 {
    font-size: .8em;
    line-height: .8em;
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  .nrmlBtn {
    float: right;
    margin-right: 12px;
    margin-top: 4px;
    border-radius: 8px;
    border: none;
  }
}