@charset "utf-8";
/* CSS Document */
/* True ALWAYS unless overridden by media queries */

#displayControlsNew {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  padding: 0px 12px 6px;
}
#displayControlsNew .button {
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  display: block;
  width: 100%;
  height: auto;
  padding: 2px 2px;
  border-radius: 6px;
  border: none;
  word-spacing: 2em;
}
#sortControlsNew li:last-child .button {
  word-spacing: normal;
}
ul.dataButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.dataButtons > li {
  display: inline-block;
  margin-right: 5px;
}
ul.dataButtons > li:last-child {
  margin-right: 0;
}
.dispBtnCont > h2 {
  font-size: 1.6em;
  display: block;
  padding: .2em 0 6px;
  margin: 0;
}
@media (max-width: 640px) { /* True ONLY and ALWAYS up to 640 */
  section.tablesec {
    display: none;
  }
  ul {
    font-size: 1.6rem;
  }
}
@media (min-width: 640px) and (max-width: 1024px) { /* True ONLY and ALWAYS between 640 and 1024 */
  /* Headings */
  h1, h2, h3 {
    font-weight: bold;
  }
  h1 {
    font-size: 2em;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size: 1.2em;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: 1.1em; /*
    color: white;*/
    margin: 0;
    padding-left: 16px;
  }
  /* Header */
  header {
    background-color: rgba(0, 0, 0, .4);
    margin: 0;
    padding: 8px;
  }
  header h1, header h2 {
    color: white;
    text-align: center;
  }
  header h1 {
    font-variant: small-caps;
    letter-spacing: .17em;
    line-height: 1em;
  }
  main {
    padding: 0;
  }
}
@media (max-width: 750px) { /* True ONLY and ALWAYS up to 750 */
  #punchTable th, #punchTable td {
    font-size: 12px;
  }
}
@media (min-width: 750px) and (max-width: 1024px) { /* True ONLY and ALWAYS between 750 and 1024*/
  #punchTable th, #punchTable td {
    font-size: 15px;
  }
}
@media (min-width: 640px) { /* True always after 640 */
  #aspectAlert {
    display: none;
  }
  .sepList {
    display: none;
  }
  /* Punch Display Controls Section */
  /* table and children */
  section.tablesec {
    display: block;
  }
  .displayTable { /* div containing table */
    width: 94%;
    margin: 0 auto;
  }
  table, caption, tbody, tfoot, thead, tr, th, td {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: middle;
  }
  table {
    display: table;
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .15);
  }
  td {
    border: 1px solid #555;
    padding: 3px 6px;
  }
  th {
    border-top: 1px solid #555;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #bbb;
    padding: 1px 6px;
  }
  thead {
    font-weight: bold;
    background-color: #555;
    color: white;
  }
  thead th:first-child {
    border-top: 1px solid #555;
    border-left: 1px solid #555;
  }
  thead th:last-child {
    border-top: 1px solid #555;
    border-right: 1px solid #555;
  }
  tbody {
    border-bottom: 4px solid #555
  }
  tbody tr:nth-child(even) {
    background: #eee;
  }
}
@media (min-width: 1024px) { /* True only & always after 1024 */
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
  #punchTable th, #punchTable td {
    font-size: 17px;
  }
}
@media (max-width: 1024px) { /* True only & always below 1024 */
  #aspectAlert {
    display: none;
  }
  h1, h2, h3 {
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  h1 {
    font-size: 2em;
    display: inline-block;
  }
  h2 {
    font-size: 1.2em;
    display: inline-block;
  }
  h3 {
    font-size: 1.1em;
    color: white;
    padding-left: 16px;
  }
  header {
    background-color: rgba(0, 0, 0, .4);
    margin: 0;
    padding: 8px;
  }
  header h1, header h2 {
    color: white;
    text-align: center;
  }
  header h1 {
    font-variant: small-caps;
    letter-spacing: .17em;
    line-height: 1em;
  }
}