@charset "utf-8";
/* CSS Document */

/* Gradients */
.grad1, .grSctch {/* Lilac */
  background: radial-gradient(circle 800px at 50% 135%, rgba(0,0,40,1) 80%, rgba(80,80,80,1) 90%, rgba(80,80,255,.5) 90%, transparent) , 
          radial-gradient(circle 250px at 80px 60px, rgba(0,0,0,1), rgba(0,0,0,1) 54%, rgba(0,0,0,1) 54%, transparent 71%),
          /*radial-gradient(circle 250px at 90px 70px, rgba(0,0,0,.8), rgba(0,0,0,1) 70%, transparent 74%),*/
          radial-gradient(circle 250px at 90px 70px, rgba(40,40,10,0), rgba(120,35,18,1) 70%, rgba(100,100,255,.35) 70.5%, transparent) ;
  background-color: #000;
}
/*.gradStat, .gradPnch, .gradJob, .gradDisp*/
.gradStat, .gradPnch, .gradJob, .gradDisp, .gl1Purple {
      background: linear-gradient(90deg, rgba(80,0,200,.4), rgba(80,0,200,.8), rgba(80,0,200,.3));
}
.sbgYellow {
  background-color: rgba(255,255,0,.3);
}
.glsScratch {
   background:
   linear-gradient(127deg, rgba(0,255,255,.8), rgba(0,255,255,0) 100%),
   linear-gradient(217deg, rgba(255,255,255,.8), rgba(255,255,255,0) 100%),
   linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 100%); 
   background-color: black;
   background-repeat: no-repeat;
}
.grs2DeepSea {/* Deep Sea */
  background: radial-gradient(ellipse 90% 60% at top left, rgba(60,60,255,.8), rgba(60,60,255,0)) , 
          radial-gradient(ellipse 90% 60% at bottom right, rgba(60,60,255,.8), rgba(60,60,255,0)) ;
  background-color: #003;
}

.grs2Lilac {/* Lilac */
  background: 
   radial-gradient(ellipse 100% 120% at bottom left, transparent 84%, rgba(255,200,220,.6) 90%, rgba(255,200,220,.2) 90%, transparent), 
   radial-gradient(ellipse 150% 100% at 100% 140%,   transparent 84%, rgba(255,200,220,.6) 90%, rgba(255,200,220,.2) 90%, transparent),
   radial-gradient(ellipse at top left,     rgba(225,30,130,.5), transparent), 
   radial-gradient(ellipse at bottom right, rgba(130,30,255,.5), transparent) ;
  background-color: #fff;
}
.glsCWB {
   background:
   linear-gradient(127deg, rgba(0,255,255,.8), rgba(0,255,255,0) 100%),
   linear-gradient(217deg, rgba(255,255,255,.8), rgba(255,255,255,0) 100%),
   linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 100%); 
   background-color: black;
   background-repeat: no-repeat;
}
.glsRYB {
   background:
   linear-gradient(127deg, rgba(255,0,0,.8), rgba(255,0,0,0) 100%),
   linear-gradient(217deg, rgba(255,255,0,.8), rgba(0,255,0,0) 100%),
   linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 100%); 
   background-color: black;
   background-repeat: no-repeat;
}
.grsRP{
   background: radial-gradient(ellipse at top left, 
   rgba(255,0,100,.8), rgba(255,0,100,0)) , 
   radial-gradient(ellipse at bottom right, 
   rgba(100,0,255,.8), rgba(100,0,255,0)) ;
   background-color: black;
   background-repeat: no-repeat;
}

.grRP{
   background: radial-gradient(ellipse 100% 100% at -25% 70%, 
   black 50%,white 74%, blue 75%, black 100%);
   background-color: black;
   background-repeat: no-repeat;
}
   
.grRP{
   background: radial-gradient(ellipse 50% 50% at 50% 50%, 
   black, 95%, white);
   background-color: black;
   background-repeat: no-repeat;
}

.seplap {
   background: radial-gradient(ellipse 900% 100% at 50% 100%, #f80, #431, #205 25%, #006 75%, 92%, #307);
} 
.overlap {
   background: radial-gradient(circle 60px at 10% 10%, red, red 80%, transparent 80%), 
   radial-gradient(circle 60px at 20% 10%, yellow, yellow 80%, transparent 80%);
} 


.bokeh {
  background:
   radial-gradient(circle 30px at 10% 10%, rgba(255,180,0,.5), 84%, rgba(255,180,0,.6) 80%, rgba(255,120,0,.3) 82%, transparent),
   radial-gradient(circle 30px at 15% 12%, rgba(255,180,0,.5), 84%, rgba(255,180,0,.6) 80%, rgba(255,120,0,.3) 82%, transparent),
   radial-gradient(circle 30px at 12% 16%, rgba(255,180,0,.5), 84%, rgba(255,180,0,.6) 80%, rgba(255,120,0,.3) 82%, transparent),
   radial-gradient(circle 30px at 13% 17%, rgba(255,180,0,.5), 84%, rgba(255,180,0,.6) 80%, rgba(255,120,0,.3) 82%, transparent),
   radial-gradient(circle 30px at 62% 52%, rgba(255,180,0,.5), 84%, rgba(255,180,0,.6) 80%, rgba(255,120,0,.3) 82%, transparent),
   radial-gradient(circle 30px at 40% 80%, rgba(255,180,0,.5), 84%, rgba(255,180,0,.6) 80%, rgba(255,120,0,.3) 82%, transparent),
   linear-gradient( 0deg, rgb(255,72,7) 0%, rgb(255,120,36) 2%, rgb(102,78,101) 14%, rgb(20,38,70) 41%, rgb(8,21,43) 100%);
   background-color: black;
   }
/* Borders */
.brdScratch {
   border: 2px solid #fe0;
}
.brdYellow2 {
   border: 2px solid #fe0;
}
.brdWhite1 {
   border: 1px solid #fff;
}
.brdYellow1 {
   border: 1px solid #ff0;
}

.brdOrange1 {
   border: 1px solid #f80;
}
.brdRed1 {
   border: 1px solid #f00;
}
.brdPurple1 {
   border: 1px solid #80f;
}
.brdMagenta1 {
   border: 1px solid #f0f;
}
.brd1, .brdBlue1 {
   border: 2px solid #00f;
}

.brdCyan1 {
   border: 1px solid #0ff;
}

.brdGreen1 {
   border: 1px solid #0f0;
}

/* Shadows */
.shd1 {/*shW10*/
   box-shadow: 10px 10px 10px rgba(100,0,255,.5);
}
.shW10 {
   box-shadow: 10px 10px 10px rgba(255,255,255,.2);
}