
* {
  margin:0; padding:0;
  box-sizing: border-box;
}

/* html {
} */

body {
  font-size: 100%;
  font-family: arial, sans-serif;
  background-color: #777;
}

div.outer {
  background-color: #fff;
  width: 25rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  transition: all .5s ease-in-out;
}

 div.select_wrap {
  width: 20rem;
  height: 3rem;
}

div.module {
  margin-bottom: 0;
  padding: 0;
  /* overflow: hidden; */
  width: 20rem;
  height: 4rem;
}

label.select_label {
  font-weight: bold;
  font-size: 80%;
  height: .8rem;
}

select.selector {
  width: 20rem;
  height: 1.7em;
  font-size: 90%;
  line-height: 1em;
  border: 1px solid black;
  background-color: #fff;
  z-index: 5;
  position: relative;
}

/* option.unspec
option.opt_new
option.more
option.assigned
option.unassigned */
div.panel {
  display:flex;
  flex-flow: column nowrap;
  width: 20rem;
  height: 4rem;
  padding: .3rem;
  background-color: #fff;
  z-index: 6;
  position: relative;
  left: 20rem;
  top: -3rem;
  transition: all .5s ease-in-out;
}

div.input_wrap {
  margin-bottom: .2rem;
}

input.input_text_new {
  background-color: #fff;
  width: 100%;
  height: 1.5rem;
  font-size: 80%;
  line-height: 1rem;
  margin: 0;
  border: 1px solid black;
}

/* div.settings_wrap */

ul.settings_list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  list-style-type: none;
  gap: .5rem;
  margin: .2rem 0 0;
  padding: 0;
}

ul.settings_list li {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  align-self: stretch;
  width: 33.3%;
}

button.input_btn {
  self-align: stretch;
  width: 100%;
  font-weight: bold;
  color: white;
  margin:0;
  padding:0;
  height: 1.5rem;
  border: none;
}

button.input_btn.save, button.input_btn.yes {
  background-color: #0a0;
}

button.input_btn.cancel, button.input_btn.no  {
  background-color: #c00;
}

div.exc_wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  flex: 1 1 auto;
  align-self: stretch;
  width: 100%;
  margin: 0;
  background-color: #35e;
  padding:0;
  align-items: center;
}

.exc_wrap label {
  color: white;
  font-weight: bold;
  display: flex;
  cursor: pointer;
  position: relative;
  margin-right: 0;
  font-size: 80%;
}

.exc_wrap label:before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
  align-self: center;
  background-color: #eef;
  border-radius: 3px;
}

.exc_wrap input[type=checkbox] {
  display: none;
}

.exc_wrap input[type=checkbox]:checked + label:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  font-size: 1rem;
  color: #23f;
  text-align: center;
  line-height: 1rem;
}

/* assign button area */
div#assign_wrap.effects { background-color: #aaa; height: 4rem; width: 100%; /* overflow: hidden; */ }
div#assign_btn_container {background-color: #ccc; height: 4rem; z-index: 5; }
/* button#assign.general {} */
div#warning_panel.message.slide {
  top: -4rem;
  transition: all .5s ease-in-out;
}
div#warning_panel.message {
  width: 100%;
  height: 4rem;
  padding: .3rem;
  background-color: #eee;
  z-index: 6;
  position: relative;
  top: 0;
  transition: all .5s ease-in-out;}
  
  p#unspec_warn {font-size: 80%; margin:0; padding: 0;}

/* button.general */


.assigned {
  background-color: #eaffea;
}

.unassigned {
  background-color: #ffeaea;
}

.more {
  background-color: #daeaff;
}


div.dim, select.selector.dim {
  background-color: #ccc;
  transition: all .5s ease-in-out;
}

div.panel.slide {
  margin-left: -20rem;
  transition: all .5s ease-in-out;
}


/* ids 
div#selectsContainer
div#client_module
div#client_select_wrap
select#client_selector
option#client_opt_unspec
option#client_opt_new
option#client_opt_more
div#client_panel
input#client_inp_new
button#client_save
button#client_cancel

div#project_module
div#project_select_wrap
select#project_selector
option#project_opt_unspec
option#project_opt_new
option#project_opt_more
div#project_panel
input#project_inp_new
input#project_chk
button#project_save
button#project_cancel

div#job_module
div#job_select_wrap
select#job_selector
option#job_opt_unspec
option#job_opt_new
option#job_opt_more
div#job_panel
input#job_inp_new
input#job_chk
button#job_save
button#job_cancel

button#assign */




/* get elements */

/* elements */
/* divs
div#selectsContainer
div#client_panel
div#project_panel
div#job_panel */
/* selects 
select#client_selector
select#project_selector
select#job_selector */
/* inputs 
input#client_inp_new
input#project_inp_new
input#job_inp_new
input#project_chk
input#job_chk */
/* buttons 
button#client_save
button#client_cancel
button#project_save
button#project_cancel
button#job_save
button#job_cancel
button#assign */


/* options */
/* special */

/*div#client_module
div#client_select_wrap
option#client_opt_unspec
option#client_opt_new

div#project_module
div#project_select_wrap
option#project_opt_unspec
option#project_opt_new
option#project_opt_more

div#job_module
div#job_select_wrap
option#job_opt_unspec
option#job_opt_new
option#job_opt_more



  div#client_module.module
    div#client_select_wrap.select_wrap
    label.select_label
      select#client_selector.select
        option#client_opt_new.opt_new
    div#client_panel.panel
      div.input_wrap
        input#client_inp_new.input_text_new
      div.settings_wrap
        ul.settings_list
            button#client_save.input_btn save
            button#client_cancel.input_btn cancel

  div#project_module.module
    div#project_select_wrap.select_wrap
      label.select_label
      select#project_selector.selector
        option#project_opt_new.opt_new
        option.more
        option.assigned
        option.unassigned
    div#project_panel.panel
      div.input_wrap
        input#project_inp_new.input_text_new
      div.settings_wrap
        ul.settings_list
            div.exc_wrap
              input#project_chk.exc_chk
              label.custom_chk for=project_chk
            button#project_save.input_btn save
            button#project_cancel.input_btn cancel

  div#job_module.module
    div#job_select_wrap.select_wrap
      label.select_label
      select#job_selector.selector
        option#job_opt_new.opt_new
        option.more
        option.assigned
        option.unassigned
    div #job_panel.panel
      div.input_wrap
        input#job_inp_new.input_text_new
      div.settings_wrap
        ul.settings_list
            div.exc_wrap
              input#job_chk.exc_chk
              label.custom_chk
            button#job_save.input_btn save
            button#job_cancel.input_btn cancel
  button#assign
*/