@charset "utf-8";
/* CSS Document */ :root {
  --text-color: #000;
  --accent: #ccc;
}
body {
  color: var(--text-color);
  font-family: source-sans-pro, sans-serif;
  font-style: normal;
}
h1, h2 {
  font-family: cronos-pro-display, sans-serif;
  font-style: normal;
}
h3, h4 {
  font-family: source-sans-pro, sans-serif;
  font-style: normal;
}
#menu > li > a {
  color: var(--text-color);
}
#menu > li > a:active, #menu > li > a:visited {
  color: var(--text-color);
}
#menu > li > a:hover {
  color: var(--text-color);
  text-decoration: underline #FFF;
}
/*.statusDiv {
  border-radius: 2.79em 2.79em .8em 2.79em;
}*/
/* PUNCH BUTTON section 
.welToLV {
  border-top-left-radius: 4.2em 50%;
  border-top-right-radius: .42em 6%;
  border-bottom-right-radius: 4.2em 50%;
  border-bottom-left-radius: 4.2em 50%;
  padding: .88em 0;
}
  #punchIn {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 5% 5%;
    border-bottom-left-radius: 50% 50%;
  }
  #punchChange {
    border-top-left-radius: 5% 5%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 5% 5%;
    border-bottom-left-radius: 50% 50%;
  }
  #punchOut {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 5% 5%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
  }*/
/* Job Assignment section
  .assignSec {
    border-radius: 12px 12px 38px 38px;
  } 
#assign {
    border-radius: 4px 4px 1em 1em;
}
.row.menupod {
    border-radius: 6px 38px 6px 38px;
  }
*/
/* Gradients */
.grad1, .grs2Lilac { /* Lilac */
  background-color: #fff;
}
/*.gradStat, .gradPnch, .gradJob, .gradDisp*/
.gradStat, .gl1Purple {
  background-color: var(--accent1);
}
.gradPnch, .gradJob, .gradDisp {
  background-color: var(--accent2);
}
/* Borders */
.brd1, .brdWhite1 {
  border: 1px solid var(--text-color);
}
/* Shadows */
.shd1 { /*shW10*/
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0);
}