@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  min-height: 100%;
  overflow: visible;
  font-size: 62.5%;
}
body {
  position: relative;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0 0 3rem 0;
  font-family: source-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .4);
  margin: 0;
  padding: 8px;
}
header h1 {
  font-size: 2em;
  line-height: 1em;
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: .16em;
  display: inline-block;
  padding: 0;
  margin: auto .2em auto 0;
}
header h2 {
  font-size: 1.3em;
  line-height: 1em;
  font-weight: 700;
  display: inline-block;
  padding: 0;
  margin: auto 0;
}
nav {
  max-width: calc(1200px * .94);
  margin: 0 auto;
}
/*h3 {}
h4 {}
h5 {}
h6 {}
nav {}
main {}
footer {}
section {}
aside {}
div {}
ul {}
a {}
a:hover {}
p {}
table {}
thead {}
tbody {}
tr {}
th {}
td {}
label {}
input {}
button {}*/
/* SHARED ELEMENTS */
#menu {
  font-size: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
/*
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0;
*/
  width: 94%;
  padding: 4px 0 8px;
  margin: 0 auto;
  text-align: center;
}
#menu li {
/*  display: inline-block;*/
  font-size: 1.5em;
  text-align: center;
  word-break: keep-all;
  white-space: nowrap;
}
#menu > li > a {
  font-weight: 600;
  text-decoration: underline dotted;
  text-underline-offset: 4px;
  padding-bottom: .2em;
}
#menu > li > a:active, #menu > li > a:visited {
  border: none;
}
#menu > li > a:hover {
  border: none;
}
/*
main page
*/
/* Status section */
.statusDiv {
  font-size: 1rem;
  width: 94%;
  margin: 1.4rem auto 1.6rem;
  padding: 1em 0 .9em 2em;
}
h3#statusH {
  font-size: 1.7em;
  font-weight: 700;
  padding: 0;
  margin: 0;
  line-height: 1em;
}
.statusList {
  list-style-type: none;
  padding: .6em 0 0 0;
  margin: 0;
}
.statusList li {
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1em;
  padding: 0 .8em 0 0;
  display: inline-block;
}
/* Punch Section */
.row.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1rem;
  width: 94%;
  margin: 18px auto;
  align-content: center;
}
button.punchButton {
  font-family: source-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  height: 4em;
  width: 4em;
  font-size: 2.6em;
  line-height: .9em;
  overflow: auto;
  padding: 0;
  margin: 0;
  border: 0;
}
span.btnFirstLn {
  font-size: .81em;
  font-weight: 600;
}
/* Job Assignment section */
.assignSec {
  font-size: 1rem;
  width: 94%;
  margin: 1.8em auto;
  padding: 1.2em;
}
.grid.assign {
  display: grid;
  grid-template-columns: 1fr 5fr;
  row-gap: .4em;
  column-gap: .8em;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}
.grid.assign label {
  display: block;
  width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 1.8em;
  padding: 0;
  margin: 0;
  line-height: 1.3em;
}
.grid.assign .textInput {
  display: block;
  font-size: 1.6em;
  font-style: italic;
  width: 100%;
  padding: 0 0 0 .2em;
  margin: 0;
  line-height: 1.3em;
  border: none;
}
#assign {
  font-family: source-sans-pro, sans-serif;
  font-style: normal;
  font-size: 2.4em;
  line-height: 1em;
  font-weight: 600;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 1.6em;
  width: 100%;
  padding: 0;
  margin: .1rem 0 0 0;
  border: none;
}
/* Display Section */
.row.menupod {
  font-size: 1rem;
  width: 94%;
  max-width: 94%;
  margin: 0 auto;
  padding: 12px;
}
.menupod h3 {
  font-size: 1.7em;
  font-weight: 700;
  padding: 0;
  margin: 0;
  line-height: .9em;
}
/*
punch-view.html
*/
#aspectAlert {
  display: none;
}
h1, h2, h3 {
  font-weight: bold;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2em;
  display: inline-block;
}
h2 {
  font-size: 1.2em;
  display: inline-block;
}
h3 {
  font-size: 1.1em;
  color: white;
  padding-left: 16px;
}
header {
  background-color: rgba(0, 0, 0, .4);
  margin: 0;
  padding: 8px;
}
header h1, header h2 {
  color: white;
  text-align: center;
}
header h1 {
  font-variant: small-caps;
  letter-spacing: .17em;
  line-height: 1em;
}
#displayControlsNew {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0;
  width: 94%;
  margin: .2em auto 1em;
  padding: 0;
}

/* TABLE */
.displayTable { /* div containing table */
  width: 94%;
  margin: 0 auto;
}
table, caption, tbody, tfoot, thead, tr, th, td {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
}
table {
  display: table;
  font-size: 1rem;
  width: 100%;
  background-color: white;
  color: black;
  border: 1px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .15);
}
td {
  font-size: 1.6em;
  border: 1px solid #555;
  padding: 3px 6px;
}
th {
  font-size: 1.6em;
  font-weight: 400;
  border-top: 1px solid #555;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
  padding: 1px 4px;
}
thead {
  background-color: #555;
  color: white;
}
thead > tr:first-child > th:first-child {
  border-top: 1px solid #555;
  border-left: 1px solid #555;
}
thead > tr:first-child > th:last-child {
  border-top: 1px solid #555;
  border-right: 1px solid #555;
}
thead > tr:last-child > th:last-child {
  border-right: 1px solid #bbb;
}
tbody {
  border-bottom: 4px solid #555
}
tbody tr:nth-child(even) {
  background: #eee;
}
/* LIST PODS */
ul.punchPod {
  font-size: 1rem;
  list-style-type: none;
  clear: both;
  padding: 0;
  width: 94%;
  margin: 1em auto;
  padding-top: 3px;
}

ul.punchPod:after {
  content: "";
  display: table;
  clear: both;
}
.punchPod li {
  display: inline-block;
  float: left;
  font-size: 1.6em;
  line-height: 1.3em;
}
.col1, .col3 {
  padding-left: .25em;
}
.col2, .col5, .col6 {
  padding-left: .5em;
}
.col7, .col8, .col9 {
  background-color: rgba(60, 0, 100, .5);
  color: white;
  width: 100%;
  padding-left: 8px;
}
.col0 {
  padding-left: 8px;
}
.col0:after, .col2:after {
  content: " on ";
}
.col0:before {
  content: "In: ";
  font-weight: 600;
}
.col2:before {
  content: "Out: ";
  font-weight: 600;
}
.col4 {
  clear: left;
  padding-left: 8px;
}
.col4:before {
  content: "Duration: ";
  font-weight: 600;
}
.col5:before {
  content: "Min: ";
  font-weight: 600;
}
.col9, .col7, .col8 {
  clear: left;
  font-size: 1.4em;
  line-height: 1.4em;
}
.col6:before {
  content: "Status: ";
  font-weight: 600;
}
.col7:before {
  content: "Client: ";
  font-weight: 600;
}
.col7 {
  padding-top: 3px;
  margin-top: 2px;
}
.col8:before {
  content: "Project: ";
  font-weight: 600;
}
.col9 {
  border-radius: 0 0 10px 10px;
  padding-bottom: 6px;
}
.col9:before {
  content: "Job: ";
  font-weight: 600;
}
/*
Hidden element for copying data to clipboard
*/
.hidden {
  position: absolute;
  left: -9999px;
}
/*
Alert Slider
*/
#clipAlert {
  display: block;
  position: absolute;
  left: 0;
  height: 3.5rem;
  padding: .2rem 0 .2rem 1rem;
  z-index: 5;
  width: 100%
}
#alertText {
  margin: 0;
  padding-top: .8rem;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  text-align: center;
}
.fadeIn {
  opacity: 1;
}
.alertText {
  font-weight: bold;
}
.default {
  top: -4rem;
}
.success {
  color: #fff;
  background-color: rgba(0, 120, 0, .95);
/*  border-color: #0a0;*/
  box-shadow: 5px 5px 8px rgba(0, 0, 0, .4);
}
.failure {
  color: #F00;
  background-color: #fff;
/*  border-color: #F00;*/
  box-shadow: 5px 5px 8px rgba(0, 0, 0, .4);
}
/*
.in {
  top: 0rem;
  opacity: 1;
}
*/
.slideIn {
  animation: inOut 2s 1;
}

/*
data-management.html
*/
#deleteModal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: black;
}
.modal {
  background-color: rgba(0, 0, 0, .3);
  opacity: 0;
  transition: opacity 1s ease;
}
#promptContainer {
  position: relative;
  height: 13rem;
  width: 15rem;
  margin: auto;
  padding: 0;
  flex-basis: auto;
  box-shadow: 10px 10px 10px rgba(0,0,0,.2);
}
#promptContainer h1 {
  margin: 0;
  padding: 0 12px 4px;
  width: 100%;
  background-color: #f00;
  color: white;
  font-size: 1.6em;
}
#promptContainer p {
  margin: 6px 0;
  padding: 0 12px;
}
#deletePrompt, #confPrompt {
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding:0;
}
.promptBtns {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  background-color: #f00;
  margin:0;
  padding: 0;
}
.promptBtns button {
  width: auto;
  height: auto;
  flex-basis: auto;
  font-size: 1em;
  margin: 8px 6px;
}
.shown {
  opacity: 1;
  transition: opacity 500ms linear;
  z-index: 100;
}
.hid {
  opacity: 0;
  transition: opacity 300ms ease-in;
  z-index: 50;
}
.in {
  opacity: 1;
}
.out {
  opacity: 0;
}

/*
help.html
*/
.helpPage * {
  color: black;
}
div.helpPage  {
  margin: 0;
  padding: 0 2em;
}
.helpPage ul {
  font-size: 1rem;
}
.helpPage li {
  font-size: 1.6em;
  line-height: 1.6em;
}
.helpsec {
  font-size: 1rem;
  margin-bottom: 2.2rem;
}
.helpsec p {
  font-size: 1.6rem;
  margin: 0 0 1rem 0;
  line-height: 1.3em;
}
.helpPage h1 {
  font-weight: 700;
  font-size: 2.4em;
  margin: .5rem 0 1rem 0;
}
.helpPage h1, .helpPage h2, .helpPage h3, .helpPage h4, .helpPage h5, .helpPage h6 {
  font-family: source-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  padding:0;  
}
.helpPage h2 {
  font-size: 2.2em;
  margin: 1rem 0 .7rem 0;
    
}
.helpPage h3 {
  font-size: 2em;
  margin: 2rem 0 .7rem 0;
}
.helpPage h4 {
  font-size: 1.6em;
  margin: 1.8rem 0 .5rem 0;
}
.helpPage h5 {
  font-weight: 700;
}
.helpPage h6 {
  font-weight: 700;
}

@keyframes inOut {
  0% {
    top: -4rem;
  }
  25% {
    top: 0rem;
    animation-timing-function: ease-out;
  }
  80% {
    top: 0rem;
    animation-timing-function: ease-in;
  }
  100% {
    top: -4rem;
  }
}
@media (max-width: 710px) {
  section.tablesec {
    display: none;
    font-size: 1rem;
  }
/*
  #displayControlsNew .dataButton {
    font-family: source-sans-pro, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2em;
  }
*/
}
@media (min-width: 710px) {
  section.tablesec {
    display: block;
  }
  .sepList {
    display: none;
  }
  #displayControlsNew .dataButton {
    font-family: source-sans-pro, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4em;
  }
}
@media (max-width: 600px) {}
@media (max-width: 900px) {}
@media (max-width: 1200px) {}
/*html {}
body {}
header {}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
nav {}
main {}
footer {}
section {}
aside {}
div {}
ul {}
a {}
a:hover {}
p {}
table {}
thead {}
tbody {}
tr {}
th {}
td {}
label {}
input {}
button {}
*/